<p id="notice"><%= notice %></p>

<p>
  <b>Comp of immersion:</b>
  <%= @component.comp_of_immersion %>
</p>


<%= link_to 'Edit', edit_component_path(@component) %> |
<%= link_to 'Back', components_path %>
