<p id="notice"><%= notice %></p>

<p>
  <b>Variable:</b>
  <%= @indy_variable.variable %>
</p>


<%= link_to 'Edit', edit_indy_variable_path(@indy_variable) %> |
<%= link_to 'Back', indy_variables_path %>
