<p id="notice"><%= notice %></p>

<p>
  <b>Component:</b>
  <%= @system_appropriateness.component %>
</p>


<%= link_to 'Edit', edit_system_appropriateness_path(@system_appropriateness) %> |
<%= link_to 'Back', system_appropriatenesses_path %>
