<div class="hero-unit">
  <h1>Frequently Asked Questions.</h1>
  <p>The VR knowledgebase is a curated repository of research findings in the field of virtual reality. The site is meant to be a resource for researchers, practitioners, and developers of VR technologies, systems, and applications. At its core, the knowledgebase helps us answer the question, "What do we know about VR technologies and their impact on human users?"</p>
</div>

<div class="row-fluid">
  <div id="faq-nav-container" class="span3">
  	<div id="faq-nav" class="affix" data-spy="affix" data-offset-top="340">
		  <ul class="nav nav-list">
				<li class="nav-header">General</li>
				<li class="active"><a href="#q1">What is contained in the VR knowledgebase?</a></li>
				<li><a href="#q2">Why is this information important?</a></li>
				<li><a href="#q3">Can't I find all of this information just by doing a regular literature search?</a></li>
				<li><a href="#q4">Who is behind the VR knowledgebase?</a></li>
				<li><a href="#q5">Why isn't the work of my favorite VR researcher included in the knowledgebase?</a></li>
				<li><a href="#q6">How do I correct an error I find in the knowledgebase?</a></li>
				<li><a href="#q7">Do you have any publications that explain the theoretical framework you're using?</a></li>
				<li class="nav-header">Searching and filtering</li>
				<li><a href="#q8">What's the best way to find the knowledge most relevant to my needs?</a></li>
				<li><a href="#q9">How do the filter options work?</a></li>
				<li><a href="#q10">What is shown on the results page?</a></li>
				<li><a href="#q11">What is the difference between findings, experiments, and publications?</a></li>
				<li><a href="#q12">When should I use free text search?</a></li>
				<li><a href="#q13">How does the free text search work?</a></li>
				<li class="nav-header">Entering new information</li>
				<li><a href="#q14">Why should I consider adding new information to the knowledgebase?</a></li>
				<li><a href="#q15">Why do I have to register before I can enter new information?</a></li>
				<li><a href="#q16">How much time will it take me to enter the information from a publication?</a></li>
				<li><a href="#q17">Do I have to fill in every field on the entry form? What is required?</a></li>
			</ul>
		</div>
	</div>

  <div id="faq-questions" class="span9">
  	<div class="page-header">
		  <h2>General</h2>
		</div>

  	<div id="q1" class="question">
  		<h3>What is contained in the VR knowledgebase?</h3>
	  	<blockquote>
			  <p>The VR knowledgebase contains curated information about published findings on questions related to the influence of components of fidelity (realism) on measures of interest.</p>
			</blockquote>
		</div>

		<div id="q2" class="question">
  		<h3>Why is this information important?</h3>
	  	<blockquote>
			  <p>Understanding the effects of the level of realism on VR systems is a fundamental research question with significant implications for researchers, designers, and practitioners of VR. At a theoretical level, it is interesting to understand whether the push for ever-greater levels of display, interaction, and simulation fidelity (realism) is justified. To create effective VR applications, we need to understand what level of realism is necessary and how changes to the level of realism will impact performance, usability, presence, sickness, etc. Increasing realism usually increases the cost and complexity of the system, so these findings can also play a role in cost-benefit calculations.</p>
			</blockquote>
		</div>

		<div id="q3" class="question">
  		<h3>Can't I find all of this information just by doing a regular literature search?</h3>
	  	<blockquote>
			  <p>All of the information in the VR knowledgebase can be gleaned from published results. However, we have found that there are hundreds of papers across dozens of publication venues that address the fundamental issue of realism. Often, the findings are nuanced and difficult to pull out even when the papers have been found. Finally, papers state their research questions and findings using incompatible terminology or different spins on the same research questions. We felt the only way to truly "know what we know" about the effects of realism was to compile a knowledgebase (a database that contains knowledge, not just data/information) that standardized the terminology and format of these findings, and made it easy for users to search and browse this knowledge.</p>
			</blockquote>
		</div>

		<div id="q4" class="question">
  		<h3>Who is behind the VR knowledgebase?</h3>
	  	<blockquote>
			  <p>The knowledgebase is a project of the <a href="http://research.cs.vt.edu/3di/">3D Interaction Group</a>, in the <a href="http://www.hci.vt.edu/">Center for Human-Computer Interaction</a> and the <a href="http://www.cs.vt.edu/">Department of Computer Science</a> at <a href="http://www.vt.edu/">Virginia Tech</a>. Under the leadership of <a href="http://research.cs.vt.edu/3di/user/123">Dr. Doug A. Bowman</a>, the 3DI Group has been researching the effects of fidelity and realism for more than a decade. Significant support for this work came from our collaborators in the <a href="http://ilab.cs.ucsb.edu/">Four Eyes Lab</a> at the <a href="http://www.ucsb.edu/">University of California, Santa Barbara</a>, led by <a href="http://www.cs.ucsb.edu/~holl/">Dr. Tobias Höllerer</a>. Funding for the work came from the <a href="http://www.onr.navy.mil/">Office of Naval Research</a>.</p>
        <p>Thanks to all the designers and developers (in alphabetical order): Felipe Bacim, Steffen Gauglitz, Regis Kopper, Ryan McMahan, Eric Ragan, Siroberto Scerbo, Cheryl Stinson, Mock Suwannatat.</p>
			</blockquote>
		</div>

		<div id="q5" class="question">
  		<h3>Why isn't the work of my favorite VR researcher included in the knowledgebase?</h3>
	  	<blockquote>
			  <p>We realized that we would never be able to find and enter all the relevant publications and findings on our own. So we designed the VR knowledgebase to be crowdsourced (but curated). We started with a small sampling of publications, but anyone can sign up for an account and add new information. After it's checked for consistency and correctness, this knowledge will be added to the public knowledgebase.</p>
			</blockquote>
		</div>

		<div id="q6" class="question">
  		<h3>How do I correct an error I find in the knowledgebase?</h3>
	  	<blockquote>
			  <p>Send us an email through the contact form describing the error.</p>
			</blockquote>
		</div>

		<div id="q7" class="question">
  		<h3>Do you have any publications that explain the theoretical framework you're using?</h3>
	  	<blockquote>
			  <p>For those interested in our definitions of fidelity, realism, and display/interaction/simulation fidelity; and the theoretical framework that we use to standardize and organize the findings in the knowledgebase, we recommend the following publications:</p>

			  <p class="indent">
			  	<a href="http://dx.doi.org/10.1109/MC.2007.257"><strong>Virtual Reality: How Much Immersion is Enough?</strong></a>
			  	<small>Bowman, D. and McMahan, R. in <cite>IEEE Computer, 2007, pp. 36-43.</cite></small>
			  </p>

			  <p class="indent">
			  	<a href="http://scholar.lib.vt.edu/theses/available/etd-12162011-140224/"><strong>Exploring the Effects of Higher-Fidelity Display and Interaction for Virtual Reality Games</strong></a>
			  	<small>McMahan, R. <cite>Ph.D. Dissertation, Virginia Tech, 2011.</cite></small>
			  </p>

			  <p class="indent">
			  	<a href="http://dx.doi.org/10.1145/2330667.2330687"><strong>Questioning Naturalism in 3D User Interfaces</strong></a>
			  	<small>Bowman, D., McMahan, R., and Ragan, E. in <cite>Communications of the ACM, pp. 78-88.</cite></small>
			  </p>
			</blockquote>
		</div>

		<div class="page-header">
		  <h2>Searching and filtering</h2>
		</div>
		
		<div id="q8" class="question">
  		<h3>What's the best way to find the knowledge most relevant to my needs?</h3>
	  	<blockquote>
			  <p>If there is a particular paper, author, or keyword that you would like to find, we recommend the free text search box in the navigation bar. If the idea is a more exploratory search of particlar components, metric, and or systems, we recommend browsing and using the filters on the left to narrow down the results.</p>
			</blockquote>
		</div>

		<div id="q9" class="question">
  		<h3>How do the filter options work?</h3>
	  	<blockquote>
			  <p>All filters within a category (components of fidelity, independent variables, task categories, and metrics) are applied in an or fashion, while cross category filters are applied as an and. This is why sometimes adding filter options may increase the results.</p>
			</blockquote>
		</div>

		<div id="q10" class="question">
  		<h3>What is shown on the results page?</h3>
	  	<blockquote>
			  <p>We have two types of results (findings and publications), all relating to the specified filter or query, along with the components, metrics, and system labels for each. These results can be sorted using the drop down menu at the top right.</p>
			</blockquote>
		</div>

		<div id="q11" class="question">
  		<h3>What is the difference between findings, experiments, and publications?</h3>
	  	<blockquote>
			  <p>Our model is structured such that each publication can contain multiple experiments, which can contain multiple tasks, which can contain multiple findings. Publications show author, venue, and other information on the scholarly publication. Findings are individual pieces of knowledge derived from the experiment and show the relation between a metric and a component of fidelity or independent variable for a particular task category. Clicking on either a publication or finding will allow you to see all the experiments, tasks, and findings for that publication.</p>
			</blockquote>
		</div>

		<div id="q12" class="question">
  		<h3>When should I use free text search?</h3>
	  	<blockquote>
			  <p>Free text search is best if you know the paper, author, or keyword that you would like to find.</p>
			</blockquote>
		</div>

		<div id="q13" class="question">
  		<h3>How does the free text search work?</h3>
	  	<blockquote>
			  <p>Free text search searches all papers, experiments, and findings for the particular text term. However, it does not have autocorrect, so you must input the text correctly (i.e., head mounted is different than headmounted or head-mounted).</p>
			</blockquote>
		</div>

		<div class="page-header">
		  <h2>Entering new information</h2>
		</div>

		<div id="q14" class="question">
  		<h3>Why should I consider adding new information to the knowledgebase?</h3>
	  	<blockquote>
			  <p>The VR knowledgebase will be most effective and beneficial if the whole community participates. Adding your own findings will increase the chances that your work will be cited. Adding the work of others helps ensure that users of the knowledgebase get the best possible picture of what's been done and what's known about VR topics.</p>
			</blockquote>
		</div>

		<div id="q15" class="question">
  		<h3>Why do I have to register before I can enter new information?</h3>
	  	<blockquote>
			  <p>Registration is simply to prevent spam. We won't sell your information or sign you up for mailing lists.</p>
			</blockquote>
		</div>

		<div id="q16" class="question">
  		<h3>How much time will it take me to enter the information from a publication?</h3>
	  	<blockquote>
			  <p>Entry time depends on the number of experiments and findings within the publication and how familiar you are with the text. An average time for a single experiment and multiple findings is 30 minute.</p>
			</blockquote>
		</div>

		<div id="q17" class="question">
  		<h3>Do I have to fill in every field on the entry form? What is required?</h3>
	  	<blockquote>
			  <p>While not all information is required we hope you take the time to fill in as many details as possible. That being said, the entry process will prevent you from moving forward if key fields are not filled (required fields are marked with asterisks).</p>
			</blockquote>
		</div>
	</div>
</div>