<p id="notice"><%= notice %></p>

<p>
  <b>Relationship:</b>
  <%= @relationship.relationship %>
</p>


<%= link_to 'Edit', edit_relationship_path(@relationship) %> |
<%= link_to 'Back', relationships_path %>
