<p id="notice"><%= notice %></p>

<p>
  <b>Component:</b>
  <%= @visual_fidelity.component %>
</p>


<%= link_to 'Edit', edit_visual_fidelity_path(@visual_fidelity) %> |
<%= link_to 'Back', visual_fidelities_path %>
