<h1>Publications by <%= @author.first_name %> <%= @author.middle_initial %> <%= @author.last_name %></h1>

<% @active_filters = [] %>
<% @papers = Paper.joins( :authors => :author_papers ).where( :author_papers => { :author_id => @author } ).uniq!	%>

<%= render "papers/browse" %>