
<p id="notice"><%= notice %></p>

<%= render 'show' %>

<% if user_signed_in? and current_user.admin %>
  <%= link_to 'Edit', edit_author_path(@author) %> | 
  <%= link_to 'Back', authors_path %>
<% end %>
