<h1><%= @user.email %></h1>

<div class="row-fluid">
  <div class="span12"> 
    <%= render 'in_progress_paper_fields' %>
    <hr>
    <%= render 'completed_paper_fields' %>
    <hr>
    <!-- <h6 style="color:#ff0000;">*admin</h6> -->
  </div>
</div>