<h1>Submissions</h1>

<%= render 'validate_paper_fields' %>

<!-- 
  	@displays = Display.find(:all, :order => "updated_at DESC").where(:validated => false)
  	@hardwares = Hardware.find(:all, :order => "updated_at DESC").where(:validated => false)
  	@softwares = Software.find(:all, :order => "updated_at DESC").where(:validated => false)
-->