<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>A new user has registered to vrknowledgebase.cs.vt.edu: <%= @user.email %></h1>
  </body>
</html>