<p id="notice"><%= notice %></p>

<p>
  <b>Component:</b>
  <%= @haptic_fidelity.component %>
</p>


<%= link_to 'Edit', edit_haptic_fidelity_path(@haptic_fidelity) %> |
<%= link_to 'Back', haptic_fidelities_path %>
