<div class="display">
	<div class="field token-input">
	  <%= f.label :display_tokens, "Displays Used" %>
	  <%= f.text_field :display_tokens, "data-pre" => f.object.display.to_json, "data-type" => "display", :class => 'span12' %>
	</div>

	<div class="field field-display-desc">
	  <%= f.label :desc, 'Display Description' %>
	  <%= f.text_area :desc, :class => 'span12', :rows => 5 %>
	</div>
</div>