<div class="field .field-title">
  <%= f.label :name, "Publication Venue" %>
  <%= f.text_field :name, :class => 'span12', :validate => true, :onchange => "validate_field(this)", :title => 'Official name of the journal, conference or other peer-reviewed publication venue', :'ref' => 'tooltip', :'data-placement' => 'bottom' %>
</div>