<div id="paper-list">
  <div class="row-fluid">
    <div class="span3">
      <div class="well">
        <legend class="with-helper-text">Filter Options</legend>
        <p class="after-legend"><small>This will be an area for filters.</small></p>
      </div>
    </div>
    <div class="span9">
      <%= render "browse" %>
    </div>
  </div>
</div>

<br />
