<p id="notice"><%= notice %></p>

<p>
  <b>Component:</b>
  <%= @biomechanical_symmetry.component %>
</p>


<%= link_to 'Edit', edit_biomechanical_symmetry_path(@biomechanical_symmetry) %> |
<%= link_to 'Back', biomechanical_symmetries_path %>
