<p id="notice"><%= notice %></p>

<p>
  <b>Component:</b>
  <%= @control_symmetry.component %>
</p>


<%= link_to 'Edit', edit_control_symmetry_path(@control_symmetry) %> |
<%= link_to 'Back', control_symmetries_path %>
