/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "compass_twitter_bootstrap_awesome";
@import "compass_twitter_bootstrap_responsive";

.navbar-fixed-top .container {
  width: 95%;
}

.field {
  margin-bottom: 10px;
}

legend.with-helper-text {
  margin-bottom: 0;
}

p.after-legend {
  margin-bottom: 15px;
}

.input-append .btn, .input-prepend .add-on {
  vertical-align: bottom;
}

.inline-group{
  .field {
    display: inline-block;
    margin-left: 15px;
  }

  .field:first-of-type {
    margin-left: 0;
  }
}

#entry_progress {
  position: fixed;

  h3:not(.current) i, h5:not(.current) i {
    display: none;
  }
}

#title, #name {
  width: 584px;
}

.navbar-form .btn {
  margin-bottom: 0;
}

.radio.inline.pill, .checkbox.inline.pill {
  input {
    visibility: hidden;
  }

  input[type="radio"]:checked+label{ 
    color: white;
    background-color: #08C;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 12px;
    padding-left: 12px;
  }

  input[type="checkbox"]:checked+label{ 
    color: white;
    background-color: #08C;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 12px;
    padding-left: 12px;
  }

  label {
    color: #08C;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 2px;
    margin-bottom: 2px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding-right: 12px;
    padding-left: 12px;
    margin-right: 2px;
    line-height: 14px;
  }

  label:hover {
    color: #005580;
    background-color: #eee;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 12px;
    padding-left: 12px;
  }

  label input {
    visibility: visible;
    display: none;
    margin-bottom: 0;
  }

  label .colon {
    display: none;
  }
  
  padding-left: 0;
  margin-left: 10px;
  
}

form input[type='number']::-webkit-outer-spin-button,
form input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.inline-group.range {
  .field {
    width: 15%;
  }
  .hyphen {
    width: 5%;
    font-size: 30px;
    vertical-align: middle;
    text-align: center;
    margin-left: 0;
  }
  .before-hyphen, .after-hyphen {
    width: auto;
  }
  .after-hyphen {
    margin-left: 0;
  }
}

.second-navbar {
  position: fixed;
  right: 0;
  left: 0;
  top: 40px;
  z-index: 1029;
  margin-bottom: 0px;
  padding-bottom: 0px;
  border-bottom: 0px;
  // remove 18px margin for default navbar

  .navbar-inner {
    padding-left: 0;
    padding-right: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-width: 0 0 1px;
    -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  }

  .container {
    width: 95%;
  }
}

.black-caret
{
  border-top-color: black !important;
  border-bottom-color: black !important;
}

.white-caret
{
  border-top-color: white !important;
  border-bottom-color: white !important;
}

#progress-headings {
  margin-top: -5px;

  a {
    text-decoration: none;
    display: block;
    padding: 5px;
  }
  a:hover {
    background: #e6e6e6;
  }
  a.current {
    color: white;
    background: #08C;
  }

  .publication-heading, .experiment-heading, .task-heading, .finding-heading {
    display: table;
  }

  .title-field, .number-field, .close-field {
    display: table-cell; 
    float: none;
  }
  .title-field {
    padding-right: 5px;
  }
  .number-field {
    text-align: right;
    font-size: 11px;
  }
  .close-field {
    vertical-align: middle;
    text-align: center;
    width: 5%;

    .close {
      line-height: 15px;
      padding-bottom: 3px;
    }
  }

  .publication-heading {
    .title-field {
      width: 100%;
    } 
  }
  .experiment-heading {
    .number-field {
      width: 5%;
      padding-right: 5px;
    }

    .title-field {
      width: 90%;
      padding-left: 4px;
    }
  }
  .task-heading {
    .number-field {
      width: 10%;
      padding-right: 9px;
    }

    .title-field {
      width: 85%;
    }
  }
  .finding-heading {
    .number-field {
      width: 15%;
      padding-right: 10px;
    }

    .title-field {
      width: 81%;
    }
  }
}

.tooltip-inner {
  z-index: 1031;
  max-width: 120px;
}

#paper-doi {
  .tooltip-inner {
    z-index: 1031;
    max-width: 220px;
  }
}

.tooltip.left {
  margin-left: -10px;  
  #left: 10px !important;
}