/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "compass_twitter_bootstrap_awesome";
@import "compass_twitter_bootstrap_responsive";

legend.with-helper-text {
  margin-bottom: 0;
}

p.after-legend {
  margin-bottom: 27px;
}

.input-append .btn, .input-prepend .add-on {
  vertical-align: bottom;
}

.inline-group{
  .field {
    display: inline-block;
    margin-left: 15px;
  }

  .field:first-of-type {
    margin-left: 0;
  }
}

#entry_progress {
  position: fixed;
}

#title, #name {
  width: 584px;
}

.navbar-form .btn {
  margin-bottom: 0;
}

.radio.inline.pill {
  input {
    visibility: hidden;
  }

  input[type="radio"]:checked+label{ 
    color: white;
    background-color: #08C;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 12px;
    padding-left: 12px;
  }

  label {
    color: #08C;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 2px;
    margin-bottom: 2px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding-right: 12px;
    padding-left: 12px;
    margin-right: 2px;
    line-height: 14px;
  }

  label:hover {
    color: #005580;
    background-color: #eee;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 12px;
    padding-left: 12px;
  }
  
  padding-left: 0;
  
}

form input[type='number']::-webkit-outer-spin-button,
form input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.inline-group.range {
  .field {
    width: 15%;
  }
  .hyphen {
    width: 5%;
    font-size: 30px;
    vertical-align: middle;
    text-align: center;
    margin-left: 0;
  }
  .before-hyphen, .after-hyphen {
    width: auto;
  }
  .after-hyphen {
    margin-left: 0;
  }
}

/*

br {
  line-height: 1.5em;
}

#entry_progress {
  width: 200px;
  padding: 5px 15px;
  float: left;
  position: fixed;
}

#entry_progress h2 {
  text-align: center;
  font-size: 1.2em;
}

#entry_progress h3 {
  margin-left: 15px;
  font-size: .8em;
  display: block !important;
  clear: right;
}

#entry_progress a {
  float: right;
  margin-bottom: 10px;
  font-size: .8em
}

#entry_progress .experiments {
    margin: 0 0 0 28px;
}

#entry_progress .tasks {
    margin: 0 0 0 40px;
}

#entry_progress .findings {
    margin: 0 0 0 54px;
}


#entry_progress .subtitle {
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}

#entry_progress .current:before {
    content: ' ';
    height: 0;
    position: absolute;
    width: 0;
    margin: 4px 0 0 -13px;

    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 7px solid red;
}


.field-title input, .field-summary input {
  width: 746px;
}

textarea {
  width: 746px;
  height: 6em;
}

.radio-buttons br {
  line-height: 1.75em;
}

.radio-buttons .radio-inline {
  display: inline;
  margin-left: 15px;
}


.attribute_block {
  width: 720px;
  margin-left: 0px;
  margin-bottom: 15px;
  border: 1px solid grey;
  padding: 15px;
}

#circular3dG{
position:relative;
width:128px;
height:128px;
}

.circular3dG{
position:absolute;
background-color:#FFCB83;
width:36px;
height:36px;
-webkit-border-radius:38px;
-moz-border-radius:38px;
border-radius:38px;
-webkit-animation-name:bounce_circular3dG;
-webkit-animation-duration:1.04s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-moz-animation-name:bounce_circular3dG;
-moz-animation-duration:1.04s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-o-animation-name:bounce_circular3dG;
-o-animation-duration:1.04s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
-ms-animation-name:bounce_circular3dG;
-ms-animation-duration:1.04s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
}

#circular3d_1G{
left:52px;
top:8px;
-webkit-animation-delay:0.39s;
-moz-animation-delay:0.39s;
-o-animation-delay:0.39s;
-ms-animation-delay:0.39s}

#circular3d_2G{
left:78px;
top:30px;
-webkit-animation-delay:0.52s;
-moz-animation-delay:0.52s;
-o-animation-delay:0.52s;
-ms-animation-delay:0.52s;
}

#circular3d_3G{
left:94px;
top:58px;
-webkit-animation-delay:0.65s;
-moz-animation-delay:0.65s;
-o-animation-delay:0.65s;
-ms-animation-delay:0.65s;
}

#circular3d_4G{
left:88px;
top:86px;
-webkit-animation-delay:0.78s;
-moz-animation-delay:0.78s;
-o-animation-delay:0.78s;
-ms-animation-delay:0.78s}

#circular3d_5G{
left:54px;
top:94px;
-webkit-animation-delay:0.9099999999999999s;
-moz-animation-delay:0.9099999999999999s;
-o-animation-delay:0.9099999999999999s;
-ms-animation-delay:0.9099999999999999s}

#circular3d_6G{
left:10px;
top:62px;
-webkit-animation-delay:1.04s;
-moz-animation-delay:1.04s;
-o-animation-delay:1.04s;
-ms-animation-delay:1.04s;
}

#circular3d_7G{
left:0px;
top:18px;
-webkit-animation-delay:1.1700000000000002s;
-moz-animation-delay:1.1700000000000002s;
-o-animation-delay:1.1700000000000002s;
-ms-animation-delay:1.1700000000000002s;
}

#circular3d_8G{
left:22px;
top:0px;
-webkit-animation-delay:1.3s;
-moz-animation-delay:1.3s;
-o-animation-delay:1.3s;
-ms-animation-delay:1.3s;
}

@-webkit-keyframes bounce_circular3dG{
0%{
-webkit-transform:scale(1)}

100%{
-webkit-transform:scale(.3)}

}

@-moz-keyframes bounce_circular3dG{
0%{
-moz-transform:scale(1)}

100%{
-moz-transform:scale(.3)}

}

@-o-keyframes bounce_circular3dG{
0%{
-o-transform:scale(1)}

100%{
-o-transform:scale(.3)}

}

@-ms-keyframes bounce_circular3dG{
0%{
-ms-transform:scale(1)}

100%{
-ms-transform:scale(.3)}

} */