/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "compass_twitter_bootstrap_awesome";
@import "compass_twitter_bootstrap_responsive";

.navbar-fixed-top .container {
  width: 95%;
}

.field {
  margin-bottom: 10px;
}

legend.with-helper-text {
  margin-bottom: 0;
}

p.after-legend {
  margin-bottom: 15px;
}

.input-append .btn, .input-prepend .add-on {
  vertical-align: bottom;
}

.inline-group{
  .field {
    display: inline-block;
    margin-left: 15px;
  }

  .field:first-of-type {
    margin-left: 0;
  }
}

#entry_progress {
  position: fixed;

  h3:not(.current) i, h5:not(.current) i {
    display: none;
  }
}

#title, #name {
  width: 584px;
}

.navbar-form .btn {
  margin-bottom: 0;
}

.radio.inline.pill, .checkbox.inline.pill {
  input {
    visibility: hidden;
  }

  input[type="radio"]:checked+label{ 
    color: white;
    background-color: #08C;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 12px;
    padding-left: 12px;
  }

  input[type="checkbox"]:checked+label{ 
    color: white;
    background-color: #08C;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 12px;
    padding-left: 12px;
  }

  label {
    color: #08C;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 2px;
    margin-bottom: 2px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding-right: 12px;
    padding-left: 12px;
    margin-right: 2px;
    line-height: 14px;
  }

  label:hover {
    color: #005580;
    background-color: #eee;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 12px;
    padding-left: 12px;
  }

  label input {
    visibility: visible;
    display: none;
    margin-bottom: 0;
  }

  label .colon {
    display: none;
  }
  
  padding-left: 0;
  margin-left: 10px;
  
}

form input[type='number']::-webkit-outer-spin-button,
form input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.inline-group.range {
  .field {
    width: 15%;
  }
  .hyphen {
    width: 5%;
    font-size: 30px;
    vertical-align: middle;
    text-align: center;
    margin-left: 0;
  }
  .before-hyphen, .after-hyphen {
    width: auto;
  }
  .after-hyphen {
    margin-left: 0;
  }
}

.second-navbar {
  position: fixed;
  right: 0;
  left: 0;
  top: 40px;
  z-index: 1029;
  margin-bottom: 0px;
  padding-bottom: 0px;
  border-bottom: 0px;
  // remove 18px margin for default navbar

  .navbar-inner {
    padding-left: 0;
    padding-right: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-width: 0 0 1px;
    -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  }

  .container {
    width: 95%;
  }
}

.black-caret
{
  border-top-color: black !important;
  border-bottom-color: black !important;
}

.white-caret
{
  border-top-color: white !important;
  border-bottom-color: white !important;
}

#progress-headings {
  margin-top: -5px;
  font-size: 12px;
  line-height: 12px;
  
  a {
    text-decoration: none;
    display: block;
    padding: 5px;
  }
  a:hover {
    background: #e6e6e6;
  }
  a.current {
    color: white;
    background: #08C;
  }

  .publication-heading, .experiment-heading, .task-heading, .finding-heading {
    display: table;
    width: 96.5%;
  }

  .title-field, .close-field {
    display: table-cell; 
    float: none;
    vertical-align: middle;
  }
  .title-field {
    padding-right: 5px;
    width: 100%
  }
  .close-field {
    text-align: center;
    width: 5%;

    .close {
      line-height: 15px;
      padding-bottom: 3px;
    }
  }

  .publication-heading {
    .title-field {
      width: 100%;
    } 
  }

  .experiment-heading {
    padding-left: 5px;
  }
/*  .experiment-heading {
    .title-field {
      width: 91%;
      padding-left: 4px;
    }
  }
  .task-heading {
    .title-field {
      width: 86%;
    }
  }
  .finding-heading {
    .title-field {
      width: 81%;
    }
  }*/

  .nav-core-element-add {
    -webkit-border-radius: 0; 
    -moz-border-radius: 0;
    border-radius: 0;

    text-align: right;
    margin-top: 3px;
    font-weight: 400;
  }

  .nav-core-element-add:hover {
    background: #08C;
  }

  .nav-core-element-block .collapse-field {
    line-height: 18px;
    padding-right: 5px;

    .icon-chevron-right {
      padding-top: 3px;
    }

    .icon-chevron-down {
      padding-top: 0;
    }
  }

  .nav-core-element-block .badge-field {
    padding-right: 7px;
    padding-top: 3px;
  }

  .publication-block {
    line-height: 18px;
  }

  .experiment-block, .task-block {
    margin-top: 3px;
  }

  .task-block .finding-block:first-of-type {
    margin-top: 3px;
  }

  .task-block, .finding-block {
    width: 94%;
    border-left: 5px solid #e6e6e6;
    padding-left: 7%;
  }

  .new-add-links {
    border-left: 5px solid #e6e6e6;
    padding-left: 6%;
  }

  .open {
    .icon-chevron-down {
      display: none;
    }

    .icon-chevron-right {
      display: block;
    }

    .badge-field {
      display: none;
    }
  }

  .closed {
    .icon-chevron-down {
      display: block;
    }

    .icon-chevron-right {
      display: none;
    }

    .badge-field {
      display: block;
    }
  }
}

#submit-button, #save-button {
  padding-top: 10px;
  clear: both;

  button {
    width: 100%;
  }
}

#save-button {
  padding-top: 20px;
}

label.required:after {
  content:  "  *";
  color: red;
}

label.error:after {
  content:  " * Required field";
  color: red;
}

.field-url {
  label.error:after {
    content:  "\00a0\00a0\00a0 Not a valid url";
    color: red;
  }
}

.tooltip-inner {
  z-index: 1031;
  max-width: 120px;
}

#paper-doi {
  .tooltip-inner {
    z-index: 1031;
    max-width: 220px;
  }
}

.tooltip.left {
  margin-left: -10px;  
  #left: 10px !important;
}

legend .nested-validation-text {
  display: inline-block;
  margin-left: 20px;
  font-size: 14px;
  line-height: 10PX;
  color: red;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.first-time-form {
  margin: 0;
  padding: 0px 5px;
  display: inline;
  text-align: left;
  float: left;
}
