// Place all the styles related to the Authors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.author {
  clear: both;

  .field {
    float: left;
  }

  a {
    margin-left: 10px;
  }
}

.authors a {
  clear: both;
  display: block;
}

.author button {
  padding-top: 25px;
}
