// Place all the styles related to the Displays controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.display-generator a {
	display: block;
	clear: both;
}

.destroy-display {
	margin-top: 28px;
	margin-left: 0px !important;
}