// Place all the styles related to the Experiments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.experiment .field-title input,  #paper_venue_attributes_name, #paper_paper_url {
  width: 746px;
}

.experiment textarea {
  width: 746px;
  height: 6em;
}
