// Place all the styles related to the Hardwares controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hardware-generator a {
	display: block;
	clear: both;
}

.destroy-hardware {
	margin-top: 28px;
	margin-left: 0px !important;
}