// Place all the styles related to the Papers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//Paper create/edit
#progress-headings {
  margin-top: -5px;
  font-size: 12px;
  line-height: 12px;
  
  a {
    text-decoration: none;
    display: block;
    padding: 5px;
  }
  a:hover {
    background: #e6e6e6;
  }
  a.current {
    color: white;
    background: #08C;
  }

  .publication-heading, .experiment-heading, .task-heading, .finding-heading {
    display: table;
    width: 96.5%;
  }

  .title-field, .close-field {
    display: table-cell; 
    float: none;
    vertical-align: middle;
  }
  .title-field {
    padding-right: 5px;
    width: 100%
  }
  .close-field {
    text-align: center;
    width: 5%;

    .close {
      line-height: 15px;
      padding-bottom: 3px;
    }
  }

  .publication-heading {
    .title-field {
      width: 100%;
    } 
  }

  .experiment-heading {
    padding-left: 5px;
  }

  .nav-core-element-add {
    -webkit-border-radius: 0; 
    -moz-border-radius: 0;
    border-radius: 0;

    text-align: right;
    margin-top: 3px;
    font-weight: 400;
  }

  .nav-core-element-add:hover {
    background: #08C;
  }

  .nav-core-element-block .collapse-field {
    line-height: 18px;
    padding-right: 5px;

    .icon-chevron-right {
      padding-top: 3px;
    }

    .icon-chevron-down {
      padding-top: 0;
    }
  }

  .nav-core-element-block .badge-field {
    padding-right: 7px;
    padding-top: 3px;
  }

  .publication-block {
    line-height: 18px;
  }

  .experiment-block, .task-block {
    margin-top: 3px;
  }

  .task-block .finding-block:first-of-type {
    margin-top: 3px;
  }

  .task-block, .finding-block {
    width: 94%;
    border-left: 5px solid #e6e6e6;
    padding-left: 7%;
  }

  .new-add-links {
    border-left: 5px solid #e6e6e6;
    padding-left: 6%;
  }

  .open {
    .icon-chevron-down {
      display: none;
    }

    .icon-chevron-right {
      display: block;
    }

    .badge-field {
      display: none;
    }
  }

  .closed {
    .icon-chevron-down {
      display: block;
    }

    .icon-chevron-right {
      display: none;
    }

    .badge-field {
      display: block;
    }
  }
}

#submit-button, #save-button {
  padding-top: 10px;
  clear: both;

  button {
    width: 100%;
  }
}

#save-button {
  padding-top: 20px;
}

label.required:after {
  content:  "  *";
  color: red;
}

label.error:after {
  content:  " * Required field";
  color: red;
}

.field-url {
  label.error:after {
    content:  "\00a0\00a0\00a0 Not a valid url";
    color: red;
  }
}

#paper-doi {
  .tooltip-inner {
    z-index: 1031;
    max-width: 220px;
  }
}

legend .nested-validation-text {
  display: inline-block;
  margin-left: 20px;
  font-size: 14px;
  line-height: 10PX;
  color: red;
}

.first-time-form {
  margin: 0;
  padding: 0px 5px;
  display: inline;
  text-align: left;
  float: left;
}

.new_paper {
  #paper {
    .help-block {
      display: block;
      margin-bottom: 10px;
      font-size: 12px;
      margin-top: -15px;
      padding-left: 5px;
    }
  }
}


//Paper View

.paper-show {
  .paper-details {
    position: relative;

    .paper-modify {
      position: absolute;
      top: 15px;
      right: 20px;
    }
  }

  ul.authors { 
    list-style: none; 
    margin: 0; 
    padding: 0; 

    li.author { 
      display: inline; 
    }
  
    li.author:after { 
      content: ","; 
    } 

    li.author:last-child:after { 
      content: ""; 
    }

    li.author a {
      margin-left: 0;
    }
  }

  .headings {
    div {
      text-align: center;
    }

    legend {
      border: none;
      margin-bottom: 10px;
    }
  }

  .title {
    text-align: center;
  }

  .task {
    margin-bottom: 15px;
    border-top: 5px solid #eee;
    padding: 10px 0;
  }

  p {
    text-align: justify;
  }

  .inline {
    display: inline;
  }

  .task-desc {
    ul.task-categories, ul.task-metrics {
      list-style: none; 
      margin: 0; 
      padding: 0;
      text-align: center; 

      li.category, li.metric { 
        display: inline; 
      }
    
      li.category:after, li.metric:after { 
        content: ","; 
      } 

      li.category:last-child:after, li.metric:last-child:after { 
        content: ""; 
      }

      h6 {
        display: inline;
      }
    }

    .env-table {
      td {
        width: 22%;
      }

      td:first-child {
        width: 34%;
      }
    }
  }

  .exp-desc {
    .part-table {
      th, td {
        text-align: center;
      }
    }

    ul.list { 
      list-style: none; 
      margin: 0; 
      padding: 0; 

      li.object { 
        display: inline; 
      }
    
      li.object:after { 
        content: ","; 
      } 

      li.object:last-child:after { 
        content: ""; 
      }

      li.object a {
        margin-left: 0;
      }
    }
  }

  li.finding {
    text-align: justify;

    h5 {
      border-left: 5px solid #eee;
      padding-left: 5px;
    }

    p {
      margin-left: 10px;
      margin-bottom: 15px;
      padding-left: 10px;
    }

    p.divider {
      border-top: 1px solid;
    }
  }
}

//Paper List
#paper-list {
  .paper-entry {
    blockquote {
      margin-bottom: 10px;
    }

    .paper-destroy {
      margin: 25px 0 0 0;
      padding: 0;
      width: 5.5%;
      height: 50px;
    }
  }

  .paper-entry:hover {
    background: #eee;
  }

  .paper-show {
    /*border-right: solid 5px #eee;*/
  }

  ul.list { 
    list-style: none; 
    margin: 0; 
    padding: 0; 

    li.object { 
      display: inline; 
    }
  
    li.object:after { 
      content: ","; 
    } 

    li.object:last-child:after { 
      content: ""; 
    }

    li.object a {
      margin-left: 0;
      font-size: smaller;
    }
  }
}
