// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.task-categories {
  label.checkbox {
    width: 30%;
  }
}

.dimensions {
  label.radio:not(:last-of-type) {
    width: 40%;
  }
}

.metrics {
  label.checkbox {
    width: 30%;
  }
}