<p id="notice"><%= notice %></p>

<p>
  <b>Component:</b>
  <%= @aural_fidelity.component %>
</p>


<%= link_to 'Edit', edit_aural_fidelity_path(@aural_fidelity) %> |
<%= link_to 'Back', aural_fidelities_path %>
